@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  max-width: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
